<div class="sidebar-container">
  <div class="logo-container">
    <div class="university-logo">
      <mat-icon class="logo-icon">school</mat-icon>
      <div class="logo-text">UCHK</div>
    </div>
  </div>
  
  <mat-nav-list class="nav-list">
    <a mat-list-item 
       *ngFor="let item of menuItems"
       (routerLink)="item.route"
       routerLinkActive="active-link">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </mat-nav-list>
</div>
